@use "sass:color";

// Colors
$white: #ffffff;

// Main colors
$color-primary: #343434;
$color-secondary: #f37221;
$color-tertiary: #368bc2;

// Variants
// Primary
$color-primary-900: #141414;
$color-primary-800: #262626;
$color-primary-700: $color-primary;
$color-primary-600: #444444;
$color-primary-500: #565656;
$color-primary-400: #7d7d7d;
$color-primary-300: #afafaf;
$color-primary-200: #d2d2d2;
$color-primary-100: #eeeeee;
$color-primary-50: #f6f6f6;

// Secondary
$color-secondary-900: #e05f0e;
$color-secondary-800: #e76615;
$color-secondary-700: $color-secondary;
$color-secondary-600: #fe8745;
$color-secondary-500: #ff9751;
$color-secondary-400: #ffaa71;
$color-secondary-300: #ffbf93;
$color-secondary-200: #ffd0b0;
$color-secondary-100: #ffdac5;
$color-secondary-50: #fcede4;

// Tertiary
$color-tertiary-900: #2277ae;
$color-tertiary-800: #2c81b8;
$color-tertiary-700: $color-tertiary;
$color-tertiary-600: #4499d0;
$color-tertiary-500: #5eaae0;
$color-tertiary-400: #72bef4;
$color-tertiary-300: #88cdff;
$color-tertiary-200: #abdcff;
$color-tertiary-100: #cdeaff;
$color-tertiary-50: #dff2ff;

$color-success: #8cb822;
$color-success-light: #edf8d4;
$color-success-dark: #6e9c15;

$color-warning: $color-secondary;
$color-warning-light: #fcede4;
$color-warning-dark: #e05f0e;

$color-error: #e93b19;
$color-error-light: #ffe7e5;
$color-error-dark: #c61111;
$color-error-400: #f58a8a;

$color-visma: #e70641;

$color-neutral: $color-primary-400;
$color-neutral-light: $color-primary-200;
$color-neutral-dark: $color-primary-600;

// Background and Surfaces
$background-color: #f9f9f9;
$surface-color: $white;
$overlay-color: color.adjust($color-primary-900, $alpha: -0.8);

// Icons
$icon-color-default-on--light: $color-primary-400;
$icon-color-secondary-on--light: $color-primary-300;
$icon-color-disabled-on--light: $color-primary-200;
$icon-color-emphasized-on--light: $color-primary;

$icon-color-default-on--dark: $color-primary-200;
$icon-color-secondary-on--dark: $color-primary-400;
$icon-color-disabled-on--dark: $color-primary-500;
$icon-color-emphasized-on--dark: $white;

$icon-color-success: $color-success;
$icon-color-warning: $color-warning;
$icon-color-error: $color-error;
$icon-color-neutral: $color-neutral;
$icon-color-link: $color-tertiary;

$icon-color-priority--low-medium: $color-tertiary;
$icon-color-priority--high: $color-secondary-600;
$icon-color-priority--urgent: $color-error;

// Text colors
$text-color-primary: $color-primary;
$text-color-secondary: $color-secondary;
$text-color-tertiary: $color-tertiary;

$text-color-default-on--light: $color-primary;
$text-color-secondary-on--light: $color-primary-500;
$text-color-tertiary-on--light: $text-color-tertiary;
$text-color-disabled-on--light: $color-primary-300;
$text-color-emphasized-on--light: $color-primary-900;

$text-color-default-on--dark: $color-primary-100;
$text-color-secondary-on--dark: $color-primary-200;
$text-color-tertiary-on--dark: $text-color-tertiary;
$text-color-disabled-on--dark: $color-primary-400;
$text-color-emphasized-on--dark: $white;

$text-color-success: $color-success;
$text-color-warning: $color-warning;
$text-color-error: $color-error;
$text-color-error-dark: $color-error-dark;

// Link colors
$link-color: $color-tertiary-900;

// Background colors
// -----------------
.bg-color--primary-900 {
	background-color: $color-primary-900;
}
.bg-color--primary-800 {
	background-color: $color-primary-800;
}
.bg-color--primary-700 {
	background-color: $color-primary-700;
}
.bg-color--primary-600 {
	background-color: $color-primary-600;
}
.bg-color--primary-500 {
	background-color: $color-primary-500;
}
.bg-color--primary-400 {
	background-color: $color-primary-400;
}
.bg-color--primary-300 {
	background-color: $color-primary-300;
}
.bg-color--primary-200 {
	background-color: $color-primary-200;
}
.bg-color--primary-100 {
	background-color: $color-primary-100;
}
.bg-color--primary-50 {
	background-color: $color-primary-50;
}

// Secondary
.bg-color--secondary-900 {
	background-color: $color-secondary-900;
}
.bg-color--secondary-800 {
	background-color: $color-secondary-800;
}
.bg-color--secondary-700 {
	background-color: $color-secondary-700;
}
.bg-color--secondary-600 {
	background-color: $color-secondary-600;
}
.bg-color--secondary-500 {
	background-color: $color-secondary-500;
}
.bg-color--secondary-400 {
	background-color: $color-secondary-400;
}
.bg-color--secondary-300 {
	background-color: $color-secondary-300;
}
.bg-color--secondary-200 {
	background-color: $color-secondary-200;
}
.bg-color--secondary-100 {
	background-color: $color-secondary-100;
}
.bg-color--secondary-50 {
	background-color: $color-secondary-50;
}

// Tertiary
.bg-color--tertiary-900 {
	background-color: $color-tertiary-900;
}
.bg-color--tertiary-800 {
	background-color: $color-tertiary-800;
}
.bg-color--tertiary-700 {
	background-color: $color-tertiary-700;
}
.bg-color--tertiary-600 {
	background-color: $color-tertiary-600;
}
.bg-color--tertiary-500 {
	background-color: $color-tertiary-500;
}
.bg-color--tertiary-400 {
	background-color: $color-tertiary-400;
}
.bg-color--tertiary-300 {
	background-color: $color-tertiary-300;
}
.bg-color--tertiary-200 {
	background-color: $color-tertiary-200;
}
.bg-color--tertiary-100 {
	background-color: $color-tertiary-100;
}
.bg-color--tertiary-50 {
	background-color: $color-tertiary-50;
}

// Success
.bg-color--success-light {
	background-color: $color-success-light;
}
.bg-color--success {
	background-color: $color-success;
}
.bg-color--success-dark {
	background-color: $color-success-dark;
}

// Warning
.bg-color--warning-light {
	background-color: $color-warning-light;
}
.bg-color--warning {
	background-color: $color-warning;
}
.bg-color--warning-dark {
	background-color: $color-warning-dark;
}

// Error
.bg-color--error-light {
	background-color: $color-error-light;
}
.bg-color--error {
	background-color: $color-error;
}
.bg-color--error-dark {
	background-color: $color-error-dark;
}

.bg-color--link {
	background-color: $link-color;
}

// Background colors
.background-canvas {
	background-color: var(--background-canvas);
}
.background-surface {
	background-color: var(--background-surface);
}

// Text colors
.text-color--default {
	color: var(--text-color--default);
}
.text-color--secondary {
	color: var(--text-color--secondary);
}
.text-color--tertiary {
	color: var(--text-color--tertiary);
}
.text-color--disabled {
	color: var(--text-color--disabled);
}
.text-color--emphasized {
	color: var(--text-color--emphasized);
}

.text-color--success {
	color: $text-color-success !important;
}
.text-color--warning {
	color: $text-color-warning !important;
}
.text-color--error {
	color: $text-color-error !important;
}
.text-color--error-dark {
	color: $text-color-error-dark;
}
.text-color--link {
	color: $link-color !important;
}

// Icon colors
.icon-color--default {
	color: var(--icon-color--default);
}
.icon-color--secondary {
	color: var(--icon-color--secondary);
}
.icon-color--disabled {
	color: var(--icon-color--disabled);
}
.icon-color--emphasized {
	color: var(--icon-color--emphasized);
}

.icon-color--success {
	color: $icon-color-success !important;
}
.icon-color--warning {
	color: $icon-color-warning !important;
}
.icon-color--error {
	color: $icon-color-error !important;
}
.icon-color--neutral {
	color: $icon-color-neutral !important;
}
.icon-color--link {
	color: $link-color !important;
}

.icon-color-priority {
	&--low {
		color: $icon-color-priority--low-medium !important;
	}

	&--high,
	&--medium {
		color: $icon-color-priority--high !important;
	}

	&--urgent {
		color: $icon-color-priority--urgent !important;
	}
}

.icon-color--visma {
	color: $color-visma;
}

/**
 * CSS variables to toggle between Light and Dark mode, mantianed, but still on experimental mode
 * Syntax: --element-property-status, ex: --background-color-hover
 */
:root,
[data-theme="light"] {
	--background-canvas: #{$background-color};
	--background-surface: #{$white};
	--background-color-hover: #{$color-primary-100};

	// <hr /> Tag color
	--hr-color: #{$color-primary-100};

	// Text color
	--text-color--default: #{$text-color-default-on--light};
	--text-color--secondary: #{$text-color-secondary-on--light};
	--text-color--tertiary: #{$text-color-tertiary-on--light};
	--text-color--disabled: #{$text-color-disabled-on--light};
	--text-color--emphasized: #{$text-color-emphasized-on--light};
	--text-color--success: #{$text-color-success};
	--text-color--warning: #{$text-color-warning};
	--text-color--error: #{$text-color-error};
	--text-color--link: #{$color-tertiary};
	--text-color--link--hover: #{$color-tertiary-900};

	// Icon color
	--icon-color--default: #{$icon-color-default-on--light};
	--icon-color--secondary: #{$icon-color-secondary-on--light};
	--icon-color--disabled: #{$icon-color-disabled-on--light};
	--icon-color--emphasized: #{$icon-color-emphasized-on--light};
	--icon-color--success: #{$icon-color-success};
	--icon-color--warning: #{$icon-color-warning};
	--icon-color--error: #{$icon-color-error};
	--icon-color--link: #{$link-color};
	--icon-color--on-secondary: #{$white};
}

[data-theme="dark"] {
	--background-canvas: #{$color-primary-900};
	--background-surface: #{$color-primary-700};
	--background-color-hover: #{$color-primary-800};

	// <hr /> Tag color
	--hr-color: #{$color-primary-600};

	// Text color
	--text-color--default: #{$text-color-default-on--dark};
	--text-color--secondary: #{$text-color-secondary-on--dark};
	--text-color--tertiary: #{$text-color-tertiary-on--dark};
	--text-color--disabled: #{$text-color-disabled-on--dark};
	--text-color--emphasized: #{$text-color-emphasized-on--dark};
	--text-color--link: #{$color-secondary};
	--text-color--link--hover: #{$color-secondary-500};

	// Icon color
	--icon-color--default: #{$icon-color-default-on--dark};
	--icon-color--secondary: #{$icon-color-secondary-on--dark};
	--icon-color--disabled: #{$icon-color-disabled-on--dark};
	--icon-color--emphasized: #{$icon-color-emphasized-on--dark};
	--icon-color--success: #{$icon-color-success};
	--icon-color--link: #{$icon-color-warning};
}

$x__mas__green--dark: #063d19;
$x__mas__green--light: #095322;
$x__mas__red: #980012;

[data-theme="special-edition"] {
	--background-canvas: #{$color-primary-900};
	--background-surface: #{$x__mas__green--light};
	--background-color-hover: #{$x__mas__green--dark};

	// <hr /> Tag color
	--hr-color: #{$color-primary-600};

	// Text color
	--text-color--default: #{$text-color-default-on--dark};
	--text-color--secondary: #{$text-color-secondary-on--dark};
	--text-color--tertiary: #{$text-color-tertiary-on--dark};
	--text-color--disabled: #{$text-color-disabled-on--dark};
	--text-color--emphasized: #{$text-color-emphasized-on--dark};
	--text-color--link: #{$color-secondary};
	--text-color--link--hover: #{$color-secondary-500};

	// Icon color
	--icon-color--default: #{$icon-color-default-on--dark};
	--icon-color--secondary: #{$icon-color-secondary-on--dark};
	--icon-color--disabled: #{$icon-color-disabled-on--dark};
	--icon-color--emphasized: #{$icon-color-emphasized-on--dark};
	--icon-color--success: #{$icon-color-success};
	--icon-color--link: #{$icon-color-warning};
}
